body {
    background-color: rgb(10, 10, 31);
}

* {
    box-sizing: border-box;
  }

.h1-text {
    font-size: 30px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: rgb(10, 10, 31);
}

.color {
    color: rgb(10, 10, 31);
}

.container {
    background-color:whitesmoke;
    margin: auto;
}

