body {
    background-color: rgb(10, 10, 31);
}

* {
    box-sizing: border-box;
  }

h2, h4, p, h5 {

    font-family: 'Bai Jamjuree', sans-serif;
    color: rgb(10, 10, 31);
}

.color {
    color: rgb(10, 10, 31);
}

.container {
    background-color:whitesmoke;
    padding: 5%;
}

.card-style {
    border-style: solid;
    border-color:  rgb(10, 10, 31);
}


